* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #00091a;
  color: #fff;
}

.container {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

table {
  width: 100%;
  height: 100%;
  padding: 20px;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

table .weeks {
  width: 500px;
}
table .weeks th {
  width: 70px;
  flex: 1 0 auto;
}

table .calendar-body tr {
  width: 500px;
  text-align: center;
}
table .calendar-body tr td {
  border: 1px solid rgba(244, 244, 244, 0.3);
  width: 70px;
  flex: 1 0 auto;
}

.prev-next {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}
.prev-next button {
  border: 1px solid #3366ff;
  color: #fff;
  background-color: #3366ff;
  flex: 0 0 70px;
}

.prev-next button:hover {
  cursor: pointer;
  color: #3366ff;
  background-color: #fff;
}

span {
  margin: 0 auto;
  padding: 10px;
  margin-top: 20px;
  border-top: 1px solid #fff;
}
